* { 
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#clock {
  text-align: center;
  position: relative;
  top: 30%;
}
#days {
  text-align: center;
  position: relative;
  top: 20%;
}
#center {
  position: relative;
  font-family: 'Exo 2', sans-serif;
  font-size: 68px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  height: 400px;
  width: 400px;
}
